* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header-1 {
    background-color: #333;
    border-bottom: 1px solid #444;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.menu-1 {
    display: flex;
    margin: 0;
}

.menu-logo {
    display: block;
    height: 45px;
}



.menu-logo-1 {
    display: block;
    width: 120px;
    height: 42px;
    color: #9B9B9B;
    padding: 10px 8px 0px 8px;
}

.tille {
    padding: 18px 12px;
    text-align: center;

}

.timezone {
    font-size: 16px;
    color: #9B9B9B;
    padding: 18px 12px;
}

@media screen and (max-width: 800px) {
    .timezone {
        display: none;
    }

    .Menu-nophone {
        display: none;
    }

    ul#Navigation {
        display: none;
    }

    /* #container .three-collum {
        display: block;
    } */


} 


.timezone:hover {
    cursor: pointer;
    background-color: #fff;
    color: black;
}

.menu-2 {
    display: flex;
}

#header-1 .fa-solid {
    padding: 18px 20px;
    border-left: 1px groove;
    border-bottom: 0;    
}

.fa-solid:hover {
    background-color: grey;
    cursor: pointer;
    border-radius: 20%;
}

#header-2 {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 18px 20px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 
    0 12px 64px 0 rgba(103,151,255,.1);
}



.timezone-logo {
    max-height: 40px;
    width: 120px;
    opacity: 1;
}



#Navigation {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    
}

#Navigation li {
    padding: 12px 15px;
    top: 0;
}


#Navigation li:hover {
    color: #ff2020;
    cursor: pointer;
}

#container .header-box-1:hover {
    color: #ff2020;
    cursor: pointer;
}

#Navigation .Latest-submenu {
    display: none;
    position: absolute;
    min-width: 170px;
    background-color: #fff;
    left: 0;
    top: 90%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    border-top: 3px solid #ff2020;
    border-radius: 7px 7px 3px 3px;
    opacity: 0;
    visibility: hidden;
}

#Navigation .Latest-submenu a{
    color: rgb(5, 136, 168);
    padding: 0 12px;
    line-height: 38.5px;
}

#Navigation li:hover .Latest-submenu {
    display: block;
}


#Navigation ul.Blog-submenu {
    display: none;
}

#Navigation ul.Pages-submenu {
    display: none;
}

#container {
    border-radius: 8px;
    margin-top: 48px;
    margin-bottom: 48px;
    box-shadow: 0 8px 60px 0 rgba(103,151,255,.11), 0 12px 90px 0 rgba(103,151,255,.11);

}

/* Chia cột cách 1 Grid */
/* #container .three-collum {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    margin: auto;
    max-width: 90%;
    position: relative;
}

#container .column-container {
    padding: 30px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* End cách 1 */


/* Chia cột cách 2 */

#container .three-row {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#container .column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 18px;
}



/* End cách 2 */

/* CSS cách 3 */

/* .column-grid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
} */
/* End cách 3 */

.container-title {  
    display: flex;
    justify-content: center;
    padding: 16px 16px;
    font-weight: 700    ;
}

#container .column-container img {
    margin-bottom: 16px;
    border-radius: 100px;
    box-shadow: 0 4px 24px 0 rgba(103,151,255,.1), 0 12px 64px 0 rgba(103,151,255,.1);
    padding: 24px;
    width: 100px;
}

#container .header-box-1, 
#container .content-box-1 {
    text-align: center;
}

#container .header-box-1 {
    font-size: 16.5px;
    padding-bottom: 6px;
}

#container .content-box-1 {
    font-size: 15px;
    color: #6d7c90;;
}

#container img {
    align-items: center;
}

/* .timezone-logo {
    display: block;
    height: 105px;
} */

/* .timezone-logo a {
    max-height: 105px;
    max-width: ;
} */



