* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#header-1 {
    background-color: #333;
    border-bottom: 1px solid #444;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.menu-1 {
    display: flex;
    margin: 0;
}

.menu-logo {
    display: block;
    height: 45px;
}

.menu-logo-1 {
    display: block;
    width: 120px;
    height: 42px;
    color: #9B9B9B;
    padding: 10px 8px 0px 8px;
}

.tille {
    padding: 18px 12px;
    text-align: center;

}

.timezone {
    font-size: 16px;
    color: #9B9B9B;
    padding: 18px 12px;
}

.menu-2 {
    
}

#header-1 .fa-solid {
    padding: 18px 20px;
    border-left: 1px groove;
    border-bottom: 0;    
}

.fa-solid:hover {
    background-color: grey;
    cursor: pointer;
    border-radius: 20%;
}

#header-2 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;

}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

    align-content: center;
    padding: 60px 60px;
}

#container img {
    align-items: center;
}

/* .timezone-logo {
    display: block;
    height: 105px;
} */

/* .timezone-logo a {
    max-height: 105px;
    max-width: ;
} */



